<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 ">
        <div class="col-xs-12 col-md-12">
            <div class="app__form-item" id="productImageAttachmentUploaderParent">
                <label class="app__form-label">
                    تصویر محصول
                </label>
                <input type="file" name="imgUp" id="imgUp" accept="image/png, image/jpeg,  image/gif, image/jpg"  />
                <div class="app__form-error app__hide" id="productImageAttachmentUploaderError">
                    تصویر محصول انتخاب نشده است
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12 filter-form__action-wrapper">
        @Html.DevExpress().Button(settings =>
        {
            settings.Name = "addSaveImageBtn";
            settings.Text = "ثبت";
            settings.UseSubmitBehavior = false;
            settings.EnableClientSideAPI = true;
            settings.Styles.CssPostfix = "add-form__btn";
            settings.Width = Unit.Percentage(100);
            settings.ClientSideEvents.Click =
                "motorsazanClient.productManagement.handleAddImage";
        }).GetHtml()
    </div>
</div>
