
<div class="col-xs-12 col-md-12 col-lg-12 ">
    <div class="col-xs-12 col-md-12">
        <div class="app__form-item" id="productImageAttachmentUploaderParent">
            <label class="app__form-label">
                تصویر محصول
            </label>
            <div id="productImageAttachmentUploader"></div>
            <div class="app__form-error app__hide" id="productImageAttachmentUploaderError">
                تصویر محصول انتخاب نشده است
            </div>
        </div>
    </div>
</div>
